*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    margin: 0px;
    padding: 0px;
    font-family:poppins;
}



#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid #da377e
    }
.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.blog-heading span{
    color: #da377e;
    
}
.blog-heading h3{
    font-size: 2.4rem;
    color: black;
    font-weight: 600;
}
.blog-container{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box{
    width: 350px;
    background-color: rgb(255, 255, 255);
    border: 3px solid #fecbe1;
    padding: 5px;

}
.blog-img{
    width: 100%;
    height: auto;
    
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    font-size: 0.9rem;
    color: #da377e
}

.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;

}
.blog-text .blog-title:hover{
    color: #da377e;
    transition: all ease 0.3s;
}
.blog-text p{
    font-size: 0.9rem;
    display: -webkit-box;
    color: #9b9b9b;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;

}

.blog-text a{
    color: black;
}

.blog-text a:hover{
    color: #da377e;
    transition: all ease 3s;


}

.home a{
    color: #be2d6c;
    font-size: 20px;
    font-weight: 200;
   
}

.Repro-health{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  
  

}
.Repro-health h3{
    border-bottom: 5px solid rgb(252, 167, 181);
}
.Repro-health img{
    position: center;  
    height: 40%;
    width:40%   

}
.headie{
    text-align: center;
}

.head{
    background: #f768a6;
    text-align: right;
    padding: 5px auto;
} 
.head a{
    color: aliceblue;
}

.text li{
    text-align: justify;
    font-size: 20px;
    font-weight: 100;
    border-radius: 10px;
    border-bottom: 5px ;
}
